/*
  Colors
 */

$red: #ff0000;

// Backgrounds
$back-main: #F4F5FA;

// Cores Age
$age-bl: #0F297D;
$age-bl-l: #242529;
$age-or: #FA8A0C;

// Botões
$btn-back-g: #f4f4f4;
$btn-back-g-h: #ECECEC;

// Placeholder
$pl-g: #ccc;

// Inputs
$inp-t-g: #888282;

// Background inputs
$b-inp-g: #F4F4F4;
$b-inp-g-f: #eeeeee;

// LightMode
$ml-back-l: #F4F5FA;
$ml-text-h1: #3b3b41;
$ml-text-light: #999;
$ml-text-menu: #777;
$ml-back-li: #F5F6FA;


// DarkMode
$md-back-l: #1E1F21;
$md-text-h1: #fff;
$md-text-light: #c4c4c4;
$md-text-menu: #f1f1f1;
$md-text-op: #cecece;
$md-button: #e5e5e5;