/*
  Colors
 */

$red: #BA0609;
$red-hover: #7e0709;
$green: #08A32B;
$blue: #2B42CC;
$blue-hover: #0820b4;
$orange: #F0A410;
$black: #333333;
$black-hover: #111111;

// Backgrounds
$back-main: #F5F5F9;

// Cores Age
$age-bl: #0F297D;
$age-bl-l: #242529;
$age-or: #FA8A0C;

// Novas cores do sistema

$primary: #6A6CF6;
$primary-hover: #5d5fec;
$selected: #E7E7FE;
$selected-hover: #dcdcfc;
$title-strong: #595B6A;
$text-strong: #758192;
$text-light: #B8BFC7;

$h1-light: #595B6A;
$h2-light: #595B6A;
$h3-light: rgba(89, 91, 106, 0.66);
$h4-light: rgba(89, 91, 106, 0.99);
$span-light: rgba(89, 91, 106, 0.48);

// Dark mode

$dark-mode-background: #111315;
$dark-mode-card: #1A1C1E;
$dark-mode-card-hover: rgba(26, 28, 30, 0.38);
$dark-mode-border: rgba(79, 80, 105, 0.37);
$dark-mode-border-hover: rgb(79, 80, 105);

// Cor do texto

$dark-mode-text-primary: rgba(255, 255, 255, 0.71);
$dark-mode-text-secondary: rgba(255, 255, 255, 0.51);

// icones

$icon-box-hover: #f5f5f5;
$icon-color: #a3a9b0;
$icon-color-hover: #626e7e;


// Botões
$btn-back-g: #f4f4f4;
$btn-back-g-h: #ECECEC;

// Cor das letras botoes

$white-grey: #d5d5d5;
$white: #fff;
$black-grey: #37383d;
$h1-black: #1e1f21;
$h1-white: #f5f4f3;


// Placeholder
$pl-g: #ccc;

// Inputs
$inp-t-g: #888282;

// Background inputs
$b-inp-g: #F4F4F4;
$b-inp-g-f: #eeeeee;

// LightMode
$ml-back-l: #F4F5FA;
$ml-text-h1: #3b3b41;
$ml-text-light: #999;
$ml-text-menu: #777;
$ml-back-li: #F5F6FA;


// DarkMode
$md-back-l: #1E1F21;
$md-text-h1: #fff;
$md-text-light: #c4c4c4;
$md-text-menu: #f1f1f1;
$md-text-op: #cecece;
$md-button: #e5e5e5;



// Table

$table-headers: #73777A;
$table-headers-border: rgba(115, 119, 122, .1);
$table-body: #150F4D;
$table-body-border: rgba(115, 119, 122, .1);

// Ícones

$icon-grey: #4c5160;
$icon-grey-hover: #22242c;


// Cor dos textos

